{% extends '/frontEnd/base.html.twig' %}
{% block content %}
    <section class="bg-half page-next-level"
             style="background-image: url({{ asset('/frontEnd/images/BG-Societe.jpg') }});padding: 135px 0 180px 0 !important;height: 48rem;">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 mt-4 pt-2">
                    <div class="component-wrapper rounded shadow">
                        <div class="p-4 border-bottom rounded-top" style="background: rgba(248,249,252,0.97)">
                            <h4 class="title mb-0 text-center"> Voir les revues pour une societe</h4>
                        </div>
                        <div class="p-4 rounded-bottom" style="background: rgba(255,255,255,0.85)">
                            <form>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input id="recherche" type="text" class="form-control"
                                               placeholder="saisir le nom de la societe" required="" autocomplete="off"
                                               aria-describedby="recherche-envoyer">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary submitBnt" type="submit"
                                                    id="recherche-envoyer"><i class="mdi mdi-magnify"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form><!--end form-->
                            <div id="resultats">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>

    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('body,html').css('overflow', 'hidden');
        $(document).ready(function () {
            $("#recherche").keyup(function () {
                var value = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: "ajaxRechercheSociete",
                    data: {
                        'valeurRecherche': value
                    },
                    success: function (retour) {
                        $('#resultats').empty();
                        if (retour) {
                            $.each(JSON.parse(retour), function (i, obj) {
                                $('#resultats').append(
                                    "<img alt='pdp' src='" + obj.idPhoto + "' height='40' width='40' class='rounded-circle shadow'>" +
                                    "<a href='/revue/societe=" + obj.id + "/activePage=1'>" + obj.nom + "</a>"
                                );
                            });
                        } else {
                            $('#resultats').append('aucun resultat')
                        }
                    }
                });
                return false;
            });
        });
    </script>

{% endblock %}
{% block footer %}{% endblock %}