<div class="col-lg-3 col-md-6 mt-4 pt-2">
    <div class="blog position-relative overflow-hidden shadow rounded h-100 bg-white">
        <div class="content p-4">
            <div class="author">
                <p class=" mb-0">

                <p class="text-dark user"><i class="fa fa-building"></i> {{ offreDeTravail.societe.nom }}</p>
                </p>
                <p class="text-dark mb-4 date">
                    <i class="fa fa-map-marker-alt"></i>
                    {{ offreDeTravail.societe.adresse }}
                </p>
            </div>
            <h4 class="title text-dark">
                {{ offreDeTravail.nom }}
            </h4>
            <p class="text-muted">
                {{ offreDeTravail.description }}
            </p>
        </div>
    </div>
</div>
