{% extends '/frontEnd/base.html.twig' %}

{% block content %}
    <script>
        document.getElementById("topnav").setAttribute("class", "scroll-active scroll");
    </script>
    <div class="bg-white" style="height: 150px"></div>

    <section class="section">
        <div class="container">
            <form class="row">
                <div class="col-12 mt-5">
                    <h5 class="text-dark">Modifier les Compétence</h5>
                </div>
                <div class="col-12 mt-3">
                    <div class="custom-form p-4 border rounded">
                        <div class="row">
                            <form name="competence" method="post">
                                <div class="col-lg-12">
                                    <div class="form-group app-label">
                                        <label for="competence_name" class="text-muted">Compétence</label>
                                        <input type="text" class="form-control resume"
                                               id="competence_name"
                                               name="competence[name]"
                                               required="required" maxlength="255"
                                               value="Java"
                                               placeholder="HTML, CSS, PHP, javascript, ...">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group app-label">
                                        <label for="competence_level" class="text-muted">Niveau de
                                            compétence</label>
                                        <input type="number" id="competence_level"
                                               name="competence[level]"
                                               required="required" value="30"
                                               class="form-control resume" placeholder="75%">
                                    </div>
                                </div>

                                <div class="col-12 mt-4">
                                    <input type="submit" id="competence_Modifier" name="competence[Modifier]"
                                           class="submitBnt btn btn-primary"
                                           value="Modifier">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}