<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
{{ form_start(form) }}
    {{ form_widget(form) }}

    </div>      </div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
