{% extends '/frontEnd/base.html.twig' %}

{% block content %}
    <script>
        document.getElementById("topnav").setAttribute("class", "scroll-active scroll");
    </script>
    <div class="bg-white" style="height: 150px"></div>

    <div>
        <h1>Edit Education</h1>

        {{ include('education/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('competence_index') }}">back to list</a>

        {{ include('education/_delete_form.html.twig') }}
    </div>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <h5 class="text-dark">Compétences :</h5>
                </div>

                <div class="col-12 mt-3">
                    <div class="custom-form p-4 border rounded">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group app-label">
                                        <label class="text-muted">Education</label>
                                        <input id="skills" type="text" class="form-control resume"
                                               placeholder="HTML, CSS, PHP, javascript, ...">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group app-label">
                                        <label class="text-muted">Niveau de competence</label>
                                        <input id="skill_proficiency" type="text" class="form-control resume"
                                               placeholder="75%">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary"
                           value="Modifier">
                </div>
            </div>
        </div>
    </section>


{% endblock %}