<!DOCTYPE html>

<title>New Education</title>

{% block body %}
    <h1>Create new Education</h1>

    {{ include('education/_form.html.twig') }}

    <a href="{{ path('education_index') }}">back to list</a>
{% endblock %}
