<!DOCTYPE html>

<title>Edit ExperienceDeTravail</title>

{% block body %}
    <h1>Edit ExperienceDeTravail</h1>

    {{ include('experience_de_travail/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('experience_de_travail_index') }}">back to list</a>

    {{ include('experience_de_travail/_delete_form.html.twig') }}
{% endblock %}
