{% extends '/frontEnd/base.html.twig' %}
{% block content %}
    <section class="page-next-level">
        <div class="p-5 bg-dark"></div>
        <div class="p-4 bg-dark"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="row p-3 col-md-12">
                    <table border="2" class="table">
                        <tr>
                            <td>Destinataire</td>
                        </tr>
                        {% set utilisateur = app.session.get('utilisateur') %}
                        {% if utilisateur is not null %}
                            {% set idUtilisateur = utilisateur['idUtilisateur'] %}
                            {% set email = utilisateur['emailUtilisateur'] %}
                            {% for candidat in candidats %}
                                {% if  %}
                                    <tr>
                                        <td><a href="{{ asset('/messagerie/candidat='~candidat.id) }}">
                                                {{ candidat.nom }}{{ candidat.prenom }}</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            Veuillez vous connecter
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}