{% if categories %}
    {% for categorie in categories %}
        <li class="text-center"><a href="{{ asset('#') }}">{{ categorie.nom }}</a></li>
    {% endfor %}
{% else %}
    <li class="text-center">Aucune categorie</li>
{% endif %}